<p></p>
<div class="jumbotron">
  <h1 class="display-3">CoderPhoto</h1>
  <p class="lead">@chug2k and @harley's lab project to show you trending photos from Instagram</p>
</div>

<% @photos.each do |photo| %>
  <%= render photo %>
<% end %>

