<div id="timeline" style="margin-top:100px">
  <% @photos.each do |photo| %>
    <div class="row">
      <div class="col-xs-4 col-xs-offset-4">
        <%= div_for photo, class: 'card' do %>
          <%= render photo %>
        <% end %>
      </div>
    </div>
  <% end %>
</div>
