<h1><%= t '.photos' %></h1>

<h2><%= t '.view_all_popular' %></h2>
<div id="timeline" style="margin-top:100px">
  <div class="photos">
  <% @photos.each do |photo| %>
    <%= div_for photo, class: 'card' do %>
      <%= render photo %>
    <% end %>
  <% end %>
  </div>
</div>
