// Custom bootstrap variables must be set or import before bootstrap itself.
@import "bootstrap";
@import "font-awesome";
@import "photos";
@import "comments";

.img-responsive {
	max-width: 100%;
	height: auto;
}

span.translation_missing {
  border: 1px solid red;
}
